<div class="col-md-12 tab-content-holder">
  <!-- BEGIN RESOURCE CHART -->
  <div class="row conformance">
    {{!-- <div id="resource-chart" class="col-md-12"> --}}
    {{!-- {{#each conformance.rest as |r|}} --}}
    <div id="resource-chart" class="table-responsive">
      <table class="col-md-12 table table-striped table-condensed">
        <thead>
          <tr>
            <th>Resource Type</th>
            <th>Read</th>
            <th>VRead</th>
            <th>Update</th>
            <th>Delete</th>
            <th>History</th>
            <th>Validate</th>
            <th>History Type</th>
            <th>Create</th>
            <th>Search Type</th>
          </tr>
        </thead>
        <tbody>
          {{#each conformance.rest as |r|}}
            {{#each r.resource as |res|}}
              <tr>
                <td data-title="Read" class="test-circle-holder">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" data-target="#resource{{unbound res.fhirType}}">{{title-case res.fhirType}}</a>
                </td>
                {{#each actions as |operation|}}
                  <td>
                    {{resource-operation resource=res validatedResources=validatedResources operation=operation}}
                  </td>
                {{/each}}
              </tr>
              <tr>
                <td colspan="10">
                  <div id="resource{{unbound res.fhirType}}" class="panel-collapse collapse">
                    Conforms to
                    <a {{bind-attr href="{{res.profile.reference}}"}}>{{res.profile.reference}}</a>
                    <table class="table">
                      <tr>
                        <th>Search Param</th>
                        <th>Type</th>
                        <th>Description</th>
                      </tr>
                      {{#each res.searchParam as |param|}}
                        <tr>
                          <td>{{param.name}}</td>
                          <td>{{param.fhirType}}</td>
                          <td>{{param.documentation}}</td>
                        </tr>
                      {{/each}}
                    </table>
                  </div>
                </td>
              </tr>
            {{/each}}
          {{/each}}
        </tbody>
      </table>
    </div>



{{!--         <div class="tab-content-holder">
        <div class="panel-title table-header row">
          <div class="table-cell col-md-2"><br>
            <span class="table-cell">Resource Type</span>
          </div>
          <div class="table-cell col-md-10">
            <span class="table-label-holder">
              <span class="table-cell">Read</span>
              <span class="table-cell">VRead</span>
              <span class="table-cell">Update</span>
              <span class="table-cell">Delete</span>
              <span class="table-cell">History</span>
              <span class="table-cell">Validate</span>
              <span class="table-cell">HistoryType</span>
              <span class="table-cell">Create</span>
              <span class="table-cell">SearchType</span>
            </span>
          </div>
        </div>
      </div> --}}

{{!--     {{#each r.resource as |res|}}
      <div class="panel">
        <div class="panel-heading" role="tab" id="headingTest1">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" data-target="#resource{{unbound res.fhirType}}">{{res.fhirType}}</a>
            <span class="test-circle-holder">
              {{#each actions as |operation|}}
                {{resource-operation resource=res validatedResources=validatedResources operation=operation}}
              {{/each}}
            </span>
          </h4>
        </div> --}}
        {{!-- <div id="resource{{unbound res.fhirType}}" class="panel-collapse collapse">
          <div class="panel-body">
            Conforms to <a {{bind-attr href="{{res.profile.reference}}"}}>{{res.profile.reference}}</a>

            <table class="table">
              <thead>
                <th>
                  Search Param
                </th>
                <th>
                  Type
                </th>
                <th>
                  Description
                </th>
              </thead>
              <tbody>
                {{#each res.searchParam as |param|}}
                <tr>
                  <td>
                    {{param.name}}
                  </td>
                  <td>
                    {{param.fhirType}}
                  </td>
                  <td>
                    {{param.documentation}}
                  </td>
                </tr>
                {{/each}} --}}
{{!--                 </tbody>
            </table>
          </div>
        </div>
      </div>
    {{/each}} --}}

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel-title table-header row">
        <div class="col-md-3">
          <span class="table-cell">{{r.mode}}</span>
        </div>
        <div class="col-md-9">
          <div class="col-md-1"><i {{bind-attr class=":glyphicon :test-circle r.operation.transaction:filled :conformance-test-badge r.results.transaction.status"}}>{{#if r.results.transaction.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' r.results.transaction}}{{/bootstrap-popover}}{{/if}}</i></div><div class="col-md-3">Transaction</div>
          <div class="col-md-1"><i {{bind-attr class=":glyphicon :test-circle r.operation.history-system:filled :conformance-test-badge r.results.history-system.status"}}>{{#if r.results.history-system.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' r.results.history-system}}{{/bootstrap-popover}}{{/if}}</i></div><div class="col-md-3">System-History</div>
          <div class="col-md-1"><i {{bind-attr class=":glyphicon :test-circle r.operation.search-system:filled :conformance-test-badge r.results.search-system.status"}}>{{#if r.results.search-system.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' r.results.search-system}}{{/bootstrap-popover}}{{/if}}</i></div><div class="col-md-3">System-Search</div>
        </div>
      </div>
    </div>

  </div>
  <!-- END RESOURCE CHART -->
  <!-- START METADATA CONTAINER -->
  <div class="row conformance metadata">
    <div class="metadata-selector col-md-3">
      <ul class="nav nav-pills nav-stacked metadata">
        <li class="active"><a data-toggle="tab" href="#conformance-metadata">Conformance Metadata</a></li>
        <li><a data-toggle="tab" href="#rest-metadata">REST Metadata</a></li>
        <li><a data-toggle="tab" href="#document-metadata">Document Metadata</a></li>
        <li><a data-toggle="tab" href="#messaging-metadata">Messaging Metadata</a></li>
      </ul>

    </div>
    <!-- START METADATA EXPAND CONTAINER -->
    <div class="metadata-expand-container col-md-9 tab-content">
      <!-- START CONFORMANCE METADATA  -->
      <div id="conformance-metadata" class="tab-pane active">
        <div class="panel-body">
          {{conformance-metadata title="NAME" value=conformance.name}}
          {{conformance-metadata title="IDENTIFIER" value=conformance.identifier}}
          {{conformance-metadata title="VERSION" value=conformance.versionNum}}
          {{conformance-metadata title="PUBLISHER INFORMATION" value=conformance.publisher}}
          {{conformance-metadata title="DESCRIPTION" value=conformance.description}}
          {{conformance-metadata title="STATUS" value=conformance.status}}
          {{conformance-metadata title="EXPERIMENTAL" value=conformance.date boolean=true}}
          {{conformance-metadata title="DATE" value=conformance.date}}
          {{conformance-metadata title="SOFTWARE" value="unknown"}}
          {{conformance-metadata title="IMPLEMENTATION" value="unknown"}}
          {{conformance-metadata title="FHIR VERSION" value=conformance.fhirVersion}}
          {{conformance-metadata title="ACCEPT UNKNOWN" value=conformance.acceptUnknown boolean=true}}
          <div class="row">
            <div class="col-md-4">
              <div><label>FORMATS SUPPORTED:</label></div>
            </div>
            <div class="col-md-8">
              <div>{{#each format as |f|}}{{f}} {{/each}}</div>
            </div>
          </div>
          {{conformance-metadata title="ADDITIONAL PROFILES SUPPORTED" value=profile.length}}
        </div>
      </div>
      <!-- END CONFORMANCE METADATA  -->
      <!-- START REST METADATA  -->
      <div id="rest-metadata" class="tab-pane">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div><label>REST:</label></div>
            </div>
            <div class="col-md-8">
              <div>FHIR Server 1 Conformance Statement #1</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div><label>IDENTIFIER:</label></div>
            </div>
            <div class="col-md-8">
              <div>HHE489GN00-09</div>
            </div>
          </div>
        </div>
      </div>
      <!-- END REST METADATA  -->
      <!-- START DOCUMENT METADATA  -->
      <div id="document-metadata" class="tab-pane">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div><label>DOC:</label></div>
            </div>
            <div class="col-md-8">
              <div>FHIR Server 1 Conformance Statement #1</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div><label>IDENTIFIER:</label></div>
            </div>
            <div class="col-md-8">
              <div>HHE489GN00-09</div>
            </div>
          </div>
        </div>
      </div>
      <!-- END DOCUMENT METADATA  -->
      <!-- START MESSAGING METADATA  -->
      <div id="messaging-metadata" class="tab-pane">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div><label>MSG:</label></div>
            </div>
            <div class="col-md-8">
              <div>FHIR Server 1 Conformance Statement #1</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div><label>IDENTIFIER:</label></div>
            </div>
            <div class="col-md-8">
              <div>HHE489GN00-09</div>
            </div>
          </div>
        </div>
      </div>
      <!-- END MESSAGING METADATA -->
    </div>
    <!-- END METADATA EXPAND CONTAINER -->
  </div>
  <!-- END METADATA CONTAINER -->
</div>
