<div class="failed-test">
  <div class="test-id">
    {{testId}}
    <span class="tag" {{action "addTagToFilter"}}>{{tag}}</span>
  </div>

  <div class="test-method">
    {{testMethod}}
  </div>

  <div class="row test-stats">
    <div class="col-md-4 test-stats-label">
     Test Validates
    </div>

    <div class="col-md-8 test-stats-validates">
      {{#each validates as |validate|}}
        {{validate}} <br>
      {{/each}}
    </div>

    <div class="col-md-4 test-stats-label">
      Links
    </div>

    <div class="col-md-8 test-stats-links">
      {{#each links as |link|}}
        <a href="{{link}}">{{link}}</a> <br>
      {{/each}}
    </div>

    <div class="col-md-4 test-stats-label">
      Data
    </div>

    <div class="col-md-5 test-stats-data">
          {{!issue.testData}}
    </div>

    <div class="col-md-3">
      <button class="btn" {{action "CURL"}}>CURL</button>
    </div>
  </div>

  <hr>
</div>
