<div class="container main">
  <div class="row content">
    <div class="col-md-12">
      <div class="palette report">
        <div class="row">
          <div class="col-md-10">
            <h2>Review Test Results</h2>
          </div>
          <div class="col-md-2">
            <button class="btn orange_btn" {{action "rerun"}}>Rerun</button>
          </div>
        </div>
        <p class="helper_text">Each of the run tests provide details on the results of the test along with information about how the test relates to the specification and the server's conformance document. </p>
        {{#if runningTestCount}}
          <div class="row">
            <div class="progress">
              <div {{bind-attr class=":progress-bar :progress-bar-striped :active"}} role="progressbar" {{bind-attr aria-valuenow=executionProgress}} aria-valuemin="0" aria-valuemax="100" {{bind-attr style=progressStyle}}>
                <span class="sr-only">{{executionProgress}}% Complete</span>
              </div>
            </div>
          </div>
        {{/if}}

        <div class="row">
          <ul class="nav nav-tabs tabbed-data-container">
            <li class="tabbed-data active"><a data-toggle="tab" href="#test-data">Tests</a></li>
            <li class="tabbed-data"><a data-toggle="tab"href="#conformance-data">Conformance</a></li>
            <li class="tabbed-data"><a data-toggle="tab"href="#heatmap-data">Heat Map</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="tab-content">
            <!-- TEST PANEL START -->
            <div class="tab-pane active test-results" id="test-data">
              <div class="col-md-12 tab-content-holder">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  {{#each tests as |test|}}
                    {{#if test.active}}
                      <div class="toggleable panel-heading">
                        <h4 class="panel-title">
                          <label >
                            {{test.id}}
                          </label>
                          <a class="collapsed" data-toggle="collapse" data-target="#test{{unbound test.reference}}" aria-expanded="false" >
                          <small>(more)</small></a>
                          {{#if test.running}}
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate tests"></span>
                          {{/if}}
                          {{#if test.completed}}
                            <i {{bind-attr class=":glyphicon  test.passed:glyphicon-ok-circle:glyphicon-remove-circle test.passed:passed:failed"}}></i>
                            <!-- <small>{{#if test.passed}} passed...{{/if}}</small> -->
                          {{/if}}
                        </h4>
                      </div>
                      <div id="test{{unbound test.reference}}" class="panel-collapse collapse">
                        <div class="panel-body">
                          {{test.description}}<br>
                          <a href="/ctl/{{unbound test.specificTitle}}.xml" download>Test Definition</a>
                            <div class="row">
                                 <div class="col-md-7">
                                  {{#each test.results as |result|}}
                                    <table class="table table-hover report-table nav nav-stacked">
                                      <thead>
                                        <th colspan="4">
                                          {{result.test_file}}
                                        </th>
                                      </thead>
                                      <tbody>
                                      {{#each result.tests as |test|}}
                                        {{#view Crucible.ResultsRowView}}
                                          <td>
                                            {{test.id}}
                                          </td>
                                          <td>
                                            {{test.description}}
                                          </td>
                                          <td>
                                            <span {{bind-attr class="test.status"}}>{{test.status}}</span>
                                          </td>
                                          <td>
                                            {{#if test.warnings}}<i class="glyphicon glyphicon-warning-sign warning"></i>{{/if}}
                                          </td>
                                        {{/view}}
                                      {{/each}}
                                      </tbody>
                                    </table>
                                  {{/each}}
                                </div>
                                {{#if test.completed}}
                                  <div class="col-md-5 tab-content details">
                                      {{#each test.results as |result|}}
                                        {{#each result.tests as |test|}}
                                          <div class="tab-pane" id="test_result{{unbound test.id}}">
                                            <div class="media">
                                              {{#if test.message}}
                                                <div class="media">
                                                  <div class="media-body">
                                                    <h4 class="media-heading">Message</h4>
                                                    {{test.message}}
                                                  </div>
                                                </div>
                                              {{/if}}

                                              {{#if test.warnings}}
                                                <div class="media">
                                                  <div class="media-body">
                                                    <h4 class="media-heading">Warnings</h4>
                                                    {{#each test.warnings as |warning|}}
                                                      <div>{{warning}}</div>
                                                    {{/each}}
                                                  </div>
                                                </div>
                                              {{/if}}

                                              {{#if test.links}}
                                                <div class="media">
                                                  <div class="media-body">
                                                    <h4 class="media-heading">Links</h4>
                                                    {{#each test.links as |link|}}
                                                      <div><a href="{{link}}" target="_blank">Related FHIR Spec Location</a></div>
                                                    {{/each}}
                                                  </div>
                                                </div>
                                              {{/if}}

                                              {{#if test.requires}}
                                                <div class="media">
                                                  <div class="media-body">
                                                    <h4 class="media-heading">Test Requires</h4>
                                                      {{#each test.requires as |requirement|}}
                                                        <div>{{#if requirement.resource}}{{requirement.resource}}{{else}}System{{/if}}: {{requirement.methods}}</div>
                                                      {{/each}}
                                                  </div>
                                                </div>
                                              {{/if}}

                                              {{#if test.validates}}
                                                <div class="media">
                                                  <div class="media-body">
                                                    <h4 class="media-heading">Test Validates</h4>
                                                      {{#each test.validates as |requirement|}}
                                                        <div>{{#if requirement.resource}}{{requirement.resource}}{{else}}System{{/if}}: {{requirement.methods}}</div>
                                                      {{/each}}
                                                  </div>
                                                </div>
                                              {{/if}}

                                              {{#if test.data}}
                                                <div class="media">
                                                  <div class="media-body">
                                                    <h4 class="media-heading">Data</h4>
                                                    {{test.data}}
                                                  </div>
                                                </div>
                                              {{/if}}

                                            </div>
                                          </div>
                                        {{/each}}
                                      {{/each}}

                                  </div>
                                {{/if}}
                              </div>



                        </div>
                      </div>
                    {{/if}}
                  {{/each}}
                </div>
              </div>
            </div>
            <!-- TEST PANEL END -->
            <!-- CONFORMANCE PANEL START -->
            <div class="tab-pane" id="conformance-data">
              {{view 'conformance' contextBinding="conformance"}}
            </div>
            <!-- CONFORMANCE PANEL END -->
            <!-- HEATMAP PANEL START -->
            <div class="tab-pane" id="heatmap-data">
              <div class="col-md-12 tab-content-holder">heat</div>
            </div>
            <!-- HEATMAP PANEL END -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
