<div class="server-details">
  <div class="server-icon pull-left">
    {{#link-to 'servers.show' server}}
      <i class="fa fa-server"></i>
    {{/link-to}}
  </div>

  <div class="server-url-name">
    <div class="server-name emphasize">
      {{#if editingServerName}}
        <form {{action "submit" on="submit"}}>
          <div class="row">
            <div class="col-sm-8">
              {{input type="text" value=name class="form-control" placeholder="FHIR Server name" disabled=savingServerName}}
            </div>
            <div class="col-sm-2">
              <input type="submit" class="btn secondary" value="Save" disabled={{submitBtnDisabled}} />
            </div>
          </div>
        </form>
      {{else}}
        {{server.name}} <a href="#" {{action "editServerName"}}><i class="fa fa-pencil-square-o"></i></a>
      {{/if}}
    </div>

    <div class="server-url">
      <a href={{server.url}} target="_blank">{{server.url}}</a>
    </div>
  </div>
</div>
