<div class="row server-fhir-specification">
  <div class="col-md-5 spec-starburst-chart">
    {{starburst-chart data=chartData on-zoom="updateCategories" selectedNode=currentNodeName}}
  </div>

  <div class="col-md-7 spec-details">
    <div class="row percent-supported">
      <div class="col-md-2 percent-supported-value">
        {{percentSupported}}%
      </div>

      <div class="col-md-10 percent-supported-text">
        of the FHIR Specification is currently supported by this server
      </div>
    </div>
    <div class="row spec-headers">
      <div class="col-md-3 col-md-offset-1 spec-headers-specification">Specification</div>
      <div class="col-md-3 col-md-offset-5 spec-headers-passing">% Passing</div>
    </div>
    <div class="row spec-table">
      {{#each topLevelCategories as |category|}}
        {{server-fhir-spec-category category=category}}
      {{/each}}
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    {{#if issues.length}}
      <h1>
        Errors ({{issues.length}} Total)
      </h1>
      {{#each topIssuesByMessage as |issue|}}
        {{test-compliance-error proxiedIssue=issue}}
      {{/each}}
      <h2>By Tag</h2>
      {{#each topIssuesByTag as |issue|}}
        {{test-compliance-error proxiedIssue=issue}}
      {{/each}}
    {{else}}
      <h1>No Errors</h1>
    {{/if}}

  </div>
</div>
