<div class="row server-details">
  <div class="col-md-3 col-md-offset-2 server-icon">
    <i class="fa fa-server"></i>
  </div>

  <div class="col-md-5 server-url-name">
    <div class="server-name">
      {{#if editingServerName}}
        <form {{action "submit" on="submit"}}>
          <div class="row">
            <div class="col-sm-8">
              {{input type="text" value=name class="form-control" placeholder="FHIR Server name" disabled=savingServerName}}
            </div>
            <div class="col-sm-4">
              <input type="submit" class="btn secondary" value="Save" {{bind-attr disabled=savingServerName}} />
            </div>
          </div>
        </form>
      {{else}}
        {{server.name}} <a href="#" {{action "editServerName"}}><i class="fa fa-pencil-square-o"></i></a>
      {{/if}}
    </div>

    <div class="server-url">
      <a {{bind-attr href="server.url"}} target="_blank">{{server.url}}</a>
    </div>
  </div>
</div>
