{{#if hasData}}
  <div class="percent-supported">
    <span class="percent-supported-value">
      {{percentSupported}}%
    </span>
    <span class="percent-supported-text">
      of the FHIR Specification is currently supported by this server
    </span>
    <p class="helper_text url"> <span class="server-time"><i class="fa fa-fw fa-clock-o"/> {{lastUpdate}}</span></p>
  </div>
  <div class="row server-fhir-specification section-data">
    <div class="col-md-5 spec-starburst-chart">
      {{starburst-chart data=chartData on-zoom="updateCategories" selectedNode=currentNodeName}}
    </div>

    <div class="col-md-7 spec-details">
      <div class="row spec-headers">
        <div class="col-md-3 col-md-offset-1 spec-headers-specification">Specification</div>
        <div class="col-md-3 col-md-offset-5 spec-headers-passing">% Passing</div>
      </div>
      <div class="row">
      <table class="table spec-table table-hover nav nav-stacked">
        <tbody>
          {{#each topLevelCategories as |category|}}
            {{server-fhir-spec-category category=category}}
          {{/each}}
        </tbody>
      </table>
      </div>
    </div>
  </div>
{{/if}}

{{#if hasFailures}}
  <div class="row fails">
    <div class="col-md-12">
      {{#if issues.length}}
        <h1>
          Failures ({{issues.length}} Total)
        </h1>

        <!-- for each fail you have, this will generate the panel  -->
        {{#each topIssuesByMessage as |fail|}}
          {{test-compliance-fail proxiedIssue=fail suites=suites}}
        {{/each}}
        <h2>By Tag</h2>

        <!-- for each fail you have, this will generate the panel  -->
        {{#each topIssuesByTag as |fail|}}
          {{test-compliance-fail proxiedIssue=fail suites=suites}}
        {{/each}}

      {{else}}
        <h1>No Failures</h1>
      {{/if}}
    </div>
  </div>
{{/if}}
