{{#if data.isLoaded}}
  {{#if hasData}}
    <div class="percent-supported">
      <span class="percent-supported-value">
        {{percentSupported}}%
      </span>

      <span class="percent-supported-text">
        of the FHIR Specification is currently supported by this server
      </span>

      <span class="server-time servers-show-time">
        <i class="fa fa-fw fa-clock-o"/> {{lastUpdate}}
      </span>
    </div>

    <div class="row server-fhir-specification section-data">
      <div class="col-md-5 spec-starburst-chart">
        {{starburst-chart data=chartData on-zoom="updateCategories" selectedNode=currentNodeName}}
      </div>

      <div class="col-md-7 spec-details">
        <div class="row spec-headers">
          <div class="col-md-3 col-md-offset-1 spec-headers-specification">Specification</div>
          <div class="col-md-3 col-md-offset-5 spec-headers-passing">% Passing</div>
        </div>
        <div class="row">
        <table class="table spec-table table-hover nav nav-stacked">
          <tbody>
            {{#each topLevelCategories as |category|}}
              {{server-fhir-spec-category category=category}}
            {{/each}}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if hasFailures}}
    <div class="failures">
      {{#if issues.length}}
        <div class="failures-title">
          Failures
          <span class="failures-count">({{filteredIssues.length}})</span>
          {{tag-filter-list tags=tagFilters removeTagFromFilter="removeTagFromFilter"}}
        </div>

        <div class="failure-messages row">
          <div class="col-md-8">
            {{!-- for each fail you have, this will generate the panel --}}
            {{#each topIssuesByMessage as |fail|}}
              {{test-compliance-fail proxiedIssue=fail currentIssue=currentIssue suites=suites enteredViewport="updateCurrentIssue" selectIssue="updateCurrentIssue" addTagToFilter="addTagToFilter"}}
            {{/each}}
          </div>

          <div class="col-md-4">
            {{failure-inspector issue=currentIssue data=data}}
          </div>
        </div>
      {{else}}
        <h1>No Failures</h1>
      {{/if}}
    </div>
  {{/if}}
{{else}}
  <span class="fa fa-lg fa-fw fa-spinner fa-pulse"></span> Loading data...
{{/if}}
