<div class="toggleable panel-heading">
  <h4 class="panel-title">
    <label >
       <span {{action 'expandCollapse'}} class="badge errors">{{proxiedIssue.values.length}}</span>
      {{proxiedIssue.key}}
    </label>
    <a {{action 'expandCollapse'}} {{bind-attr class="proxiedIssue.expanded::collapsed"}} aria-expanded="false" href="#"><small>({{#if proxiedIssue.expanded}}less{{else}}more{{/if}})</small></a>
  </h4>
</div>
<div class="panel-collapse collapse">
  <div class="panel-body">
    <div class="row">


      <div class="col-md-4 error-report">
        {{#each suiteIssues as |issue|}}
          {{issue.key}}<br><br>
        {{/each}}
      </div>

      <div class="col-md-8">
        {{#each suiteIssues as |issue|}}
          yo
        {{/each}}
      </div>


    </div>
  </div>
</div>
