<div class="row">
  <div class="col-xs-4">
    <i class="fa fa-lg fa-square {{testRun.server.id}}"></i>
    {{testRunServerName}}
  </div>
  <div class="col-xs-2">
    {{testRunTime}}
  </div>
  <div class="col-xs-1">
    <i class="fa fa-fw fa-check-circle"></i> {{testRun.summary.pass}}
  </div>
  <div class="col-xs-1">
    <i class="fa fa-fw fa-times-circle"></i> {{testRun.summary.fail}}
  </div>
  <div class="col-xs-1">
    <i class="fa fa-fw fa-warning"></i> {{testRun.summary.warning}}
  </div>
  <div class="col-xs-1">
    <i class="fa fa-fw fa-arrow-circle-right"></i> {{testRun.summary.skip}}
  </div>
  <div class="col-xs-1">
    <i class="fa fa-fw fa-exclamation-circle"></i> {{testRun.summary.error}}
  </div>
  <div class="col-xs-1">
    {{#link-to 'test_runs.show' testRun}}
      {{testRun.summary.total}} tests
    {{/link-to}}
  </div>
</div>
