<div class="test-run-result">
  <div class="toggleable panel-heading">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-target={{result.toggleSelector}} aria-expanded="false">
        <label>{{title-case result.test.name}}</label>
      </a>
      {{#if result.hasResults}}
        <i class="glyphicon {{if result.passed 'glyphicon-ok-circle' 'glyphicon-remove-circle'}} {{if result.passed 'passed' 'failed'}}"></i>
      {{else}}
        <span class="fa fa-lg fa-fw fa-spinner fa-pulse tests"></span>
      {{/if}}
    </h4>
  </div>
  <div id={{result.toggleId}} class="panel-collapse collapse">
    {{result.test.description}}
    <br>
    <div class="row">
      <div class="col-md-7">
        <table class="table table-hover report-table nav nav-stacked">
          <tbody>
            {{#each testRunResults as |test|}}
              {{results-row testResult=test selectedTestResult=selectedTestResult}}
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col-md-5 tab-content">
        {{#if selectedTestResult}}
          <div class="media">

            <h4 class="test-run-result-id">{{selectedTestResult.test_id}}</h4>

            {{#if selectedTestResult.message}}
              <div class="media test-message">
                <div class="media-body">
                  <h4 class="media-heading">Message</h4>
                  {{selectedTestResult.message}}
                </div>
              </div>
            {{/if}}

            {{#if selectedTestResult.warnings}}
              <div class="media test-warnings">
                <div class="media-body">
                  <h4 class="media-heading">Warnings</h4>
                  {{#each selectedTestResult.warnings as |warning|}}
                    <div>{{warning}}</div>
                  {{/each}}
                </div>
              </div>
            {{/if}}

            {{#if selectedTestResult.links}}
              <div class="media test-links">
                <div class="media-body">
                  <h4 class="media-heading">Links</h4>
                  {{#each selectedTestResult.links as |link|}}
                    <div><a href={{link}} target="_blank">Related FHIR Spec Location</a></div>
                  {{/each}}
                </div>
              </div>
            {{/if}}

            {{#if selectedTestResult.requires}}
              <div class="media test-requires">
                <div class="media-body">
                  <h4 class="media-heading">Test Requires</h4>
                    {{#each selectedTestResult.requires as |requirement|}}
                      <div>{{#if requirement.resource}}{{requirement.resource}}{{else}}System{{/if}}: {{requirement.methods}}</div>
                    {{/each}}
                </div>
              </div>
            {{/if}}

            {{#if selectedTestResult.validates}}
              <div class="media test-validates">
                <div class="media-body">
                  <h4 class="media-heading">Test Validates</h4>
                    {{#each selectedTestResult.validates as |requirement|}}
                      <div>{{#if requirement.resource}}{{requirement.resource}}{{else}}System{{/if}}: {{requirement.methods}}</div>
                    {{/each}}
                </div>
              </div>
            {{/if}}

            {{#if selectedTestResult.responseData}}
              <div class="media test-response-data">
                <div class="media-body">
                  <h4 class="media-heading">Data</h4>
                  {{selectedTestResult.responseData}}
                </div>
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
