<div class="row">
  <div class="col-xs-4">
    <i {{bind-attr class=":fa :fa-lg :fa-square testRun.server.id"}}></i>
    {{testRun.server.name}}
  </div>
  <div class="col-xs-2">
    {{testRunTime}}
  </div>
  <div class="col-xs-1">
    {{testRun.summary.pass}} <i class="fa fa-check-circle"></i>
  </div>
  <div class="col-xs-1">
    {{testRun.summary.fail}} <i class="fa fa-times-circle"></i>
  </div>
  <div class="col-xs-1">
    {{testRun.summary.warning}} <i class="fa fa-warning"></i>
  </div>
  <div class="col-xs-1">
    {{testRun.summary.skip}} <i class="fa fa-arrow-circle-right"></i>
  </div>
  <div class="col-xs-1">
    {{testRun.summary.error}} <i class="fa fa-exclamation-circle"></i>
  </div>
  <div class="col-xs-1">
    {{#link-to 'test_runs.show' testRun}}
      {{testRun.summary.total}} tests
    {{/link-to}}
  </div>
</div>
