<div class="toggleable panel-heading">
  <h4 class="panel-title">
    <label >
      {{input type="checkbox" name=test.id checked=proxiedTest.selected}}
      {{test.name}}
    </label>
    <a {{action 'expandCollapse'}} {{bind-attr class="proxiedTest.expanded::collapsed"}} aria-expanded="false" href="#"><small>({{#if proxiedTest.expanded}}less{{else}}more{{/if}})</small></a>
  </h4>
</div>
<div class="panel-collapse collapse">
  <div class="panel-body">
    {{test.description}}<br>
    <a {{bind-attr href=testDownloadURL}} download>Test Definition</a>
  </div>
</div>
