<!-- <div class="toggleable panel-heading">
  <h4 class="pal-title">
    [{{testRun.server.name}}]
    [{{testRun.summary}}]
    <label >
      {{testRun.server.url}}
    </label>
    <label >
      {{testRun.date}}
    </label>
    <a class="collapsed" data-toggle="collapse" data-target="#test1" aria-expanded="false" >
    <small>(more)</small></a>
  </h4>
</div>
<div id="test1" class="panel-collapse collapse">
  <div class="panel-body">
    {{#each testRun.testResults as |test_result|}}
      <p>{{test_result.result}}</p>
    {{/each}}
  </div>
</div> -->

<!-- <div class="test-run-details">
  <div class="test-run-detail server-name">
    {{testRun.server.name}}
  </div>
  <div class="test-run-detail test-run-date">
    {{testRun_time}}
  </div>
  <div class="test-run-detail">
    {{testRun.summary.pass}} passed
  </div>
  <div class="test-run-detail">
    {{testRun.summary.fail}} failed
  </div>
  <div class="test-run-detail">
    {{testRun.summary.warning}} warnings
  </div>
  <div class="test-run-detail">
    {{testRun.summary.skip}} skipped
  </div>
  <div class="test-run-detail">
    {{testRun.summary.error}} errors
  </div>
</div> -->

<div class="row">
  <div class="col-xs-2">
    {{testRun.server.name}}
  </div>
  <div class="col-xs-1">
    {{testRunTime}}
  </div>
  <div class="col-xs-2">
    {{testRun.summary.pass}} passed
  </div>
  <div class="col-xs-1">
    {{testRun.summary.fail}} failed
  </div>
  <div class="col-xs-2">
    {{testRun.summary.warning}} warnings
  </div>
  <div class="col-xs-2">
    {{testRun.summary.skip}} skipped
  </div>
  <div class="col-xs-1">
    {{testRun.summary.error}} errors
  </div>
  <div class="col-xs-1">
    {{#link-to 'test_runs.show' testRun}}
      {{testRun.summary.total}} tests
    {{/link-to}}
  </div>
</div>




  <!-- pass: 0
  fail: 0
  warning: 0
  skip: 0
  error: 0 -->
