<!-- START: Left side, with filters -->
<div class="col-md-3">
  <div class="{{if testExecuting 'hide'}} filter">
    <div class="{{if groupBySuite 'hide'}}">  
      {{input enter="filter" value=filterValue class="form-control {{if testsExecuting 'disabled'}}" placeholder="Enter Search" disabled=testsExecuting}}
    </div>
    <div class="button-holder {{if groupBySuite '' 'hide'}}">
      <button type="button" class="btn secondary" {{action "selectDeselectAll"}}><i class="fa fa-check"></i>&nbsp;{{selectAllBtnText}}</button>
      <button type="button" class="btn secondary" {{action "expandCollapseAll"}}><i class="fa fa-expand"></i>&nbsp;{{expandCollapseBtnText}}</button>
    </div>
    <div>
      {{starburst-chart data=chartData on-zoom="updateCategories" selectedNode=currentNodeName showHeader=false}}
      {{topLevelCategory}}
    </div>
  </div>
</div> 
<!-- END: Left side, with filters -->

<div class="col-md-9 tab-content-holder">

  <!-- grouping option selectors -->
  <div class="row grouping-options">
      <button type="button" {{bind-attr class=":btn :secondary :col-md-6 groupBySuite:selected"}}{{action "groupByTestSuites"}}>Group By Crucible Test Suites</button>
      <button type="button" {{bind-attr class=":btn :secondary :col-md-6 groupBySuite::selected"}} {{action "groupByIndividualTests"}}>Show Individual Tests</button>
  </div>

  <div class="panel-group test-results" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="{{if groupBySuite '' 'hidden'}}">
      {{#each proxiedTestResults as |result|}}
        {{test-run-result proxiedResult=result filterValue=filterValue}}
      {{/each}}
    </div>
    <div class="{{if groupBySuite 'hidden' ''}}">
<!--                     {{#each proxiedIndivResults as |result|}}
        {{individual-test-result-panel proxiedIndivResult=result filterValue=filterValue}}
      {{/each}} -->
      {{#each resultsBySuite as |result|}}
        {{#each result.results as |res|}}
          {{individual-test-result-panel individual_result=res filterValue=filterValue}}
        {{/each}}
      {{/each}}
    </div>
  </div>    
</div>
