<div class="test-compliance-error">
  <div class="toggleable panel-heading">
    <h4 class="panel-title">
      <label >
         <span {{action 'expandCollapse'}} class="badge errors">{{proxiedIssue.values.length}}</span>
        {{proxiedIssue.key}}
      </label>
      <a {{action 'expandCollapse'}} class="{{if proxiedIssue.expanded '' 'collapsed'}}" aria-expanded="false" href="#"><small>({{#if proxiedIssue.expanded}}less{{else}}more{{/if}})</small></a>
    </h4>
  </div>

  <div class="panel-collapse collapse">
    <div class="row">
      <div class="col-md-4">
        <table class="table table-hover report-table nav nav-stacked">
          <tbody>
            {{#each suiteIssues as |issue|}}
              {{error-results-row errorResult=issue selectedIssue=selectedIssue suites=suites}}
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col-md-8 tab-content details">
        {{#if selectedIssue}}
          <div class="media">
            {{#each selectedIssue.values as |issue|}}
              <h4>{{issue.test_id}}: {{issue.test_method}}, <strong>{{issue.tag}}</strong></h4>
            {{/each}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>

</div>
