<div class="container main">
  <div class="row">

    <div class="palette user analytics col-md-12">
      <div class="row">
        <div class="add_server_button" {{action 'addServer'}}>
          <i class="fa fa-plus fa-fw"></i>
          Add Server
        </div>

        <div id='serverList' class="col-md-10">
          <h1>My Servers</h1>
          {{#each proxiedServers as |server|}}
            <p {{bind-attr class="server.selected:active :clickable-list-item"}} {{action 'toggleServer' server}}>
              {{server.content.url}}
              <button {{action 'runTest' server.content}} class="btn">Run Test</button>
            </p>
          {{/each}}
        </div>

        {{input action="submit" value=url class="form-control" id="addServerInput" placeholder="Please enter FHIR Server URL"}}

        <div class="chart" {{action 'sideChart'}}></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="palette user col-md-12">
      {{histogram-chart data=aggregatedTestRuns binningField="date" timeSpan="hour" bandPadding=0.1 byDate=true rollupBy=aggregatedTestRuns.length}}
    </div>
  </div>

  <div class="row">
    <div class="palette user col-md-12">
      <h1>My Tests</h1>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {{#each testRuns as |test_run|}}
          <div class="toggleable panel-heading">
            <h4 class="pal-title">
              <label >
                {{test_run.server.url}}
              </label>
              <label >
                {{test_run.date}}
              </label>
              <a class="collapsed" data-toggle="collapse" data-target="#test1" aria-expanded="false" >
              <small>(more)</small></a>
            </h4>
          </div>
          <div id="test1" class="panel-collapse collapse">
            <div class="panel-body">
              {{#each test_run.testResults as |test_result|}}
                <p>{{test_result.result}}</p>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
