<div class="container main">
  <div class="row">

    <div class="palette col-md-12">
      {{#each proxiedServers as |server|}}
        <div class="server-fhir-spec-display">
          {{server-fhir-specification server=server}}
        </div>
      {{/each}}
    </div>

    <div class="palette user analytics col-md-12">
      <div class="row">
        <div class="add_server_button" {{action 'addServer'}}>
          <i class="fa fa-plus fa-fw"></i>
          Add Server
        </div>

        <div id='serverList' class="col-md-10">
          <h1>My Servers</h1>
          {{#each proxiedServers as |server|}}
            <p {{bind-attr class="server.selected:active :clickable-list-item"}} {{action 'toggleServer' server}}>
              <div class="row">
                <div class="col-xs-3">
                  <i {{bind-attr class=":fa :fa-lg :fa-2x :fa-square server.content.id"}}></i>
                  {{server.content.name}}
                </div>
                <div class="col-xs-7">
                  {{server.content.url}}
                </div>
                <div class="col-xs-2">
                  <button {{action 'runTest' server.content}} class="btn">Run Test</button>
                </div>
              </div>
            </p>
          {{/each}}
        </div>

        {{input action="submit" value=url class="form-control" id="addServerInput" placeholder="Please enter FHIR Server URL"}}

        <div class="chart" {{action 'sideChart'}}></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="palette user col-md-12">
      <h1>My Tests</h1>
      {{histogram-chart data=aggregatedTestRuns servers=serverIds binningField="id" timeSpan="day" bandPadding=0.1 byDate=false rollupBy="testResults.length"}}
      <h3>Test Runs</h3>
      <h4>{{histogramDateRange.start}} - {{histogramDateRange.stop}}</h4>
        {{#each aggregatedTestRuns as |testRun|}}
          {{test-run-details testRun=testRun servers=serverIds}}
        {{/each}}
    </div>
  </div>
</div>
