<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row auth">
        {{#if hasErrors}}
          <div class="alert alert-danger" role="alert">
            <h1>{{errors.length}} errors prohibited you from registering:</h1>
            <ul>
              {{#each errors as |error|}}
                <li>{{error}}</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        <h4 class="login col-md-2">
          <img src="/assets/images/logo_dark.png" alt="logo">
        </h4>
        <div class="col-md-10">
          <form {{action 'register' on='submit'}}>
            <div class="login-inputs registration row">
              <div class="form-group login-input col-md-12">
                {{input type="email" value=identification autofocus=true placeholder="email" classNames="form-control"}}
              </div>
              <div class="form-group login-input col-md-12">
                {{input type="password" value=password autocomplete="off" placeholder="password" classNames="form-control"}}
              </div>
              <div class="form-group login-input col-md-12">
                {{input type="password" value=passwordConfirmation autocomplete="off" placeholder="re-enter password" classNames="form-control"}}
              </div>
            </div>
            <div class="login-footer row">
              <div class="login-options col-md-8">
                {{#link-to 'users.login'}}Click to login{{/link-to}} | {{#link-to 'index'}}Return to Crucible{{/link-to}}
              </div>
              <div class="login-btn col-md-4">
                <input type="submit" value="Register" class="btn" {{bind-attr disabled=formLoading}}>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
