<div class="container main">
  <div class="row content">
    <div class="col-md-12">
      <div class="palette report">
        <div class="row">
          <div class="col-md-1 server-icon">
            {{#link-to 'servers.show' server}}
            <i class="fa fa-server"></i>
            {{/link-to}}
          </div>
          <div class="col-md-9 server-header">
            <h1>{{name}}</h1>
            <p class="helper_text">
              <a href={{url}} target="_blank">{{url}}</a>
            </p>
          </div>
          <div class="col-md-2 action-buttons">
            <button class="btn" {{action "executeTests"}}>Execute Tests</button>
            <button class="btn" {{action "testRunsPage"}}>Test Results</button>
          </div>
        </div>
        {{server-fhir-specification data=summary suites=suites errors=true}}
      </div>
    </div>
  </div>
</div>
