
<div class="container main">
  <div class="row content">
    <div class="col-md-12">
      <div class="palette report">
        <div class="row">
          <div class="col-md-10">
            <h1>
              {{model.server.name}}<br>
              <small>{{model.server.url}}</small>
            </h1>

          </div>
          <div class="col-md-2 action-buttons">
            <button class="btn" {{action "executeTests"}}>Execute Tests</button>
            <button class="btn" {{action "testRunsPage"}}>Test Results</button>
          </div>
        </div>
        {{server-fhir-specification data=model}}
      </div>
    </div>
  </div>
</div>
