
<div class="container main">
  <div class="row content">
    <div class="col-md-12">
      <div class="palette report">
        <div class="row">
          <div class="col-md-10">
            <h1>
              {{name}}<br>
              <small><a {{bind-attr href="url"}} target="_blank">{{url}}</a></small>
              <div class="pull-right">
                <small><span class="server-time"><i class="fa fa-fw fa-clock-o"/> {{summary.generatedFromNow}}</span></small>
              </div>
            </h1>
          </div>
          <div class="col-md-2 action-buttons">
            <button class="btn" {{action "executeTests"}}>Execute Tests</button>
            <button class="btn" {{action "testRunsPage"}}>Test Results</button>
          </div>
        </div>
        {{server-fhir-specification data=summary}}
      </div>
    </div>
  </div>
</div>
