<div class="container main">
  <div class="row content">
    <div class="col-md-12">
      <div class="palette report">
        <div class="row">
          <div class="col-md-10">
            <h2>Review Test Results</h2>
          </div>
          <div class="col-md-2">
            {{#if testsExecuting}}
              <button class="btn" disabled><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Executing...</button>
            {{else}}
              <button class="btn" {{action "rerun"}}>Rerun</button>
            {{/if}}
          </div>
        </div>
        <p class="helper_text">Each of the run tests provide details on the results of the test along with information about how the test relates to the specification and the server's conformance document.</p>

        {{server-details server=server}} {{#if model.isMultiserver}}{{server-details server=model.destinationServer}}{{/if}}

        {{#if testsExecuting}}
          <div class="row">
            <div class="progress">
              <div {{bind-attr class=":progress-bar :progress-bar-striped :active :execution-progressbar"}} role="progressbar" {{bind-attr aria-valuenow=executionProgress}} aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">{{executionProgress}}% Complete</span>
              </div>
            </div>
          </div>
        {{/if}}

        <div class="row">
          <ul class="nav nav-tabs tabbed-data-container">
            <li class="tabbed-data active"><a data-toggle="tab" href="#test-data">Tests</a></li>
            <li class="tabbed-data"><a data-toggle="tab"href="#conformance-data">Conformance</a></li>
            {{!-- <li class="tabbed-data"><a data-toggle="tab"href="#heatmap-data">Heat Map</a></li> --}}
          </ul>
        </div>
        <div class="row">
          <div class="tab-content">
            <!-- TEST PANEL START -->
            <div class="tab-pane active test-results" id="test-data">
              <div class="col-md-12 tab-content-holder">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  {{#each model.testResults as |result|}}
                    {{test-run-result result=result}}
                  {{/each}}
                </div>
              </div>
            </div>
            <!-- TEST PANEL END -->
            <!-- CONFORMANCE PANEL START -->
            <div class="tab-pane" id="conformance-data">
              {{conformance-view conformance=content.conformance testResults=content.testResults}}
            </div>
            <!-- CONFORMANCE PANEL END -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
