<div class="col-md-12 tab-content-holder">
  {{#if isMultiple}}
    <div class="row conformance header-data">
      <div class="col-md-3">
        <select class="form-control" id="multiserver-selector" {{action 'multiserverSelect' on='change'}}>
          <option>Server 1 OR Server 2</option>
          <option>Server 1 AND Server 2</option>
          <option>Server 1 - EXCLUSIVE</option>
          <option>Server 2 - EXCLUSIVE</option>
        </select>
      </div>
      <div class="col-md-8 info-box">
        <h5 class="conformance">Server 1: {{name}}</h5>
        <h5 class="conformance">Server 2: {{name2}}</h5>
      </div>
    </div>
  {{else}}
    <div class="row conformance header-data">
      <div class="col-md-12">
        <h4 class="conformance">Server: {{name}}</h4>
      </div>
    </div>
  {{/if}}

  <!-- BEGIN RESOURCE CHART -->
  <div class="row conformance">
    <div id="resource-chart" class="col-md-12">
      {{#each rest as |r|}}
        <div class="col-md-12 tab-content-holder">
          <div class="panel-title table-header row">
            <div class="table-cell col-md-2"><br>
              <span class="table-cell">Resource Type</span>
            </div>
            <div class="table-cell col-md-10">
              <span class="table-label-holder">
                {{#each operations as |operation|}}
                  <span class="table-cell">{{operation}}</span>
                {{/each}}
              </span>
            </div>
          </div>
        </div>

        {{#each r.resource as |res|}}
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingTest1">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" data-target="#resource{{unbound res.fhirType}}">{{res.fhirType}}</a>
                <span class="test-circle-holder">
                  <span {{bind-attr class=":glyphicon res.read :conformance-test-badge res.results.read.status"}} aria-hidden="true">{{res.read}}{{#if res.results.read.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.read}}{{/bootstrap-popover}}{{/if}}</span>
                  <span {{bind-attr class=":glyphicon res.vread :conformance-test-badge res.results.vread.status"}} aria-hidden="true">{{res.vread}}{{#if res.results.vread.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.vread}}{{/bootstrap-popover}}{{/if}}</span>
                  <span {{bind-attr class=":glyphicon res.update :conformance-test-badge res.results.update.status"}} aria-hidden="true">{{res.update}}{{#if res.results.update.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.update}}{{/bootstrap-popover}}{{/if}}</span>
                  <span {{bind-attr class=":glyphicon res.delete :conformance-test-badge res.results.delete.status"}} aria-hidden="true">{{res.delete}}{{#if res.results.delete.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.delete}}{{/bootstrap-popover}}{{/if}}</span>
                  <span {{bind-attr class=":glyphicon res.historyInstance :conformance-test-badge res.results.history-instance.status"}} aria-hidden="true">{{res.validate}}{{#if res.results.history-instance.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.history-instance}}{{/bootstrap-popover}}{{/if}}</span>
                  <span {{bind-attr class=":glyphicon res.validate :conformance-test-badge res.results.validate.status"}} aria-hidden="true">{{res.historyInstance}}{{#if res.results.validate.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.validate}}{{/bootstrap-popover}}{{/if}}</span>
                  <span {{bind-attr class=":glyphicon res.historyType :conformance-test-badge res.results.history-type.status"}} aria-hidden="true">{{res.historyType}}{{#if res.results.history-type.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.history-type}}{{/bootstrap-popover}}{{/if}}</span>
                  <span {{bind-attr class=":glyphicon res.create :conformance-test-badge res.results.create.status"}} aria-hidden="true">{{res.searchType}}{{#if res.results.create.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.create}}{{/bootstrap-popover}}{{/if}}</span>
                  <span {{bind-attr class=":glyphicon res.searchType :conformance-test-badge res.results.search-type.status"}} aria-hidden="true">{{res.create}}{{#if res.results.search-type.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.search-type}}{{/bootstrap-popover}}{{/if}}</span>
                </span>
              </h4>
            </div>
            <div id="resource{{unbound res.fhirType}}" class="panel-collapse collapse">
              <div class="panel-body">
                Conforms to <a {{bind-attr href="{{res.profile.reference}}"}}>{{res.profile.reference}}</a>

                <table class="table">
                  <thead>
                    <th>
                      Search Param
                    </th>
                    <th>
                      Type
                    </th>
                    <th>
                      Description
                    </th>
                  </thead>
                  <tbody>
                    {{#each res.searchParam as |param|}}
                    <tr>
                      <td>
                        {{param.name}}
                      </td>
                      <td>
                        {{param.fhirType}}
                      </td>
                      <td>
                        {{param.documentation}}
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {{/each}}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel-title table-header row">
            <div class="col-md-3">
              <span class="table-cell">{{r.mode}}</span>
            </div>
            <div class="col-md-9">
              <div class="col-md-1"><i {{bind-attr class=":glyphicon :test-circle r.operation.transaction:filled :conformance-test-badge r.results.transaction.status"}}>{{#if r.results.transaction.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' r.results.transaction}}{{/bootstrap-popover}}{{/if}}</i></div><div class="col-md-3">Transaction</div>
              <div class="col-md-1"><i {{bind-attr class=":glyphicon :test-circle r.operation.history-system:filled :conformance-test-badge r.results.history-system.status"}}>{{#if r.results.history-system.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' r.results.history-system}}{{/bootstrap-popover}}{{/if}}</i></div><div class="col-md-3">System-History</div>
              <div class="col-md-1"><i {{bind-attr class=":glyphicon :test-circle r.operation.search-system:filled :conformance-test-badge r.results.search-system.status"}}>{{#if r.results.search-system.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' r.results.search-system}}{{/bootstrap-popover}}{{/if}}</i></div><div class="col-md-3">System-Search</div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <!-- END RESOURCE CHART -->
  <!-- START METADATA CONTAINER -->
  <div class="row conformance metadata">
    <div class="metadata-selector col-md-3">
      <ul class="nav nav-pills nav-stacked metadata">
        <li class="active"><a data-toggle="tab" href="#conformance-metadata">Conformance Metadata</a></li>
        <li><a data-toggle="tab" href="#rest-metadata">REST Metadata</a></li>
        <li><a data-toggle="tab" href="#document-metadata">Document Metadata</a></li>
        <li><a data-toggle="tab" href="#messaging-metadata">Messaging Metadata</a></li>
      </ul>

    </div>
    <!-- START METADATA EXPAND CONTAINER -->
    <div class="metadata-expand-container col-md-9 tab-content">
      <!-- START CONFORMANCE METADATA  -->
      <div id="conformance-metadata" class="tab-pane active">
        <div class="panel-body">
          {{conformance-metadata title="NAME" value=name isMultiple=isMultiple value2=name2}}
          {{conformance-metadata title="IDENTIFIER" value=identifier isMultiple=isMultiple value2=identifier2}}
          {{conformance-metadata title="VERSION" value=versionNum isMultiple=isMultiple value2=versionNum2}}
          {{conformance-metadata title="PUBLISHER INFORMATION" value=publisher isMultiple=isMultiple value2=publisher2}}
          {{conformance-metadata title="DESCRIPTION" value=description isMultiple=isMultiple value2=description2}}
          {{conformance-metadata title="STATUS" value=status isMultiple=isMultiple value2=status2}}
          {{conformance-metadata title="EXPERIMENTAL" value=date isMultiple=isMultiple value2=date2 boolean=true}}
          {{conformance-metadata title="DATE" value=date isMultiple=isMultiple value2=date2}}
          {{conformance-metadata title="SOFTWARE" value="unknown" isMultiple=isMultiple value2="unknown"}}
          {{conformance-metadata title="IMPLEMENTATION" value=kno isMultiple=isMultiple value2=kno2}}
          {{conformance-metadata title="FHIR VERSION" value=fhirVersion isMultiple=isMultiple value2=fhirVersion2}}
          {{conformance-metadata title="ACCEPT UNKNOWN" value=acceptUnknown isMultiple=isMultiple value2=acceptUnknown2 boolean=true}}
          <div class="row">
            <div class="col-md-4">
              <div><label>FORMATS SUPPORTED:</label></div>
            </div>
            <div class="col-md-8">
              <div>{{#each format as |f|}}{{f}} {{/each}}</div>
            </div>
          </div>
          {{conformance-metadata title="ADDITIONAL PROFILES SUPPORTED" value=profile.length isMultiple=isMultiple value2=profile.length2}}
        </div>
      </div>
      <!-- END CONFORMANCE METADATA  -->
      <!-- START REST METADATA  -->
      <div id="rest-metadata" class="tab-pane">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div><label>REST:</label></div>
            </div>
            <div class="col-md-8">
              <div>FHIR Server 1 Conformance Statement #1</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div><label>IDENTIFIER:</label></div>
            </div>
            <div class="col-md-8">
              <div>HHE489GN00-09</div>
            </div>
          </div>
        </div>
      </div>
      <!-- END REST METADATA  -->
      <!-- START DOCUMENT METADATA  -->
      <div id="document-metadata" class="tab-pane">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div><label>DOC:</label></div>
            </div>
            <div class="col-md-8">
              <div>FHIR Server 1 Conformance Statement #1</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div><label>IDENTIFIER:</label></div>
            </div>
            <div class="col-md-8">
              <div>HHE489GN00-09</div>
            </div>
          </div>
        </div>
      </div>
      <!-- END DOCUMENT METADATA  -->
      <!-- START MESSAGING METADATA  -->
      <div id="messaging-metadata" class="tab-pane">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div><label>MSG:</label></div>
            </div>
            <div class="col-md-8">
              <div>FHIR Server 1 Conformance Statement #1</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div><label>IDENTIFIER:</label></div>
            </div>
            <div class="col-md-8">
              <div>HHE489GN00-09</div>
            </div>
          </div>
        </div>
      </div>
      <!-- END MESSAGING METADATA -->
    </div>
    <!-- END METADATA EXPAND CONTAINER -->
  </div>
  <!-- END METADATA CONTAINER -->
</div>
