<div class="container main">
  <div class="picture landing-page">
    <img src="/assets/images/logo_dark.png" alt="" />
  </div>
  <form>
    <div class="row form">
      <div class="col-md-10">
        <div>
          {{input action="submit" value=server1 class="form-control" placeholder="FHIR Server URL"}}
        </div>
      </div>
      <div class="col-md-2">
        <button  {{action "submit"}} class="btn">Begin</button>
      </div>
    </div>
    <div class="row form">
      <div class="col-md-10">
        <div class="form-group">
          {{#if multiServer}}
            {{input value=server2 class="form-control" placeholder="Comparison FHIR Server URL"}}
          {{/if}}
        </div>
      </div>
      <div class="col-md-2">
        {{#if multiServer}}
          <a {{action 'removeUrl'}} class="toggle-info" ><i class="fa fa-minus fa-fw"></i> Remove Server</a>
        {{else}}
          <a {{action 'addUrl'}} class="toggle-info" ><i class="fa fa-plus fa-fw"></i> Add A Server</a>
        {{/if}}
      </div>
    </div>
  </form>

{{!--   <div class="row">
    <div class="col-md-12">
      <div id="animation" class="palette"></div>
    </div>
    <div class="col-md-10">
      <p>Each FHIR Interface test will first generate a conformance statement. Based on a conformance, a given set of recommended tests will be shown to the user.</p>
    </div>
    <div class="col-md-2">
      <p class="animation-icons"> 1/5  &nbsp;
      <span class="glyphicon glyphicon-backward" aria-hidden="true"></span> &nbsp;
      <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> &nbsp;
      <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
      </p>
    </div>
  </div> --}}

  <div class="row tri-row">
    <div class="col-md-4">
      <div  class="palette">
        <i class="fa fa-medkit fa-5x"></i>
        <h4>Healthcare Data</h4>
        <p>Nationwide adoption of electronic health records promises to improve the exchange of health data. Health data exchange should yield many benefits. However, successful exchange of computable health data is still relatively uncommon. FHIR is here to solve that problem.</p>
       </div>
    </div>

      <div class="col-md-4">
        <div class="palette">
          <img src="/assets/images/fhir.png"  width="75" alt="logo" />
          <h4>FHIR</h4>
          <p>FHIR stands for Fast Healthcare Interoperability Resources. FHIR, developed by HL7 (Health Level Seven) has emerged as a leading healthcare standard. FHIR is a modern specification developed from web technologies and RESTful services. FHIR defines a reusable infomation model that focuses on the 80/20 rule while providing flexibility through extensions. FHIR focuses on implementation and the ability to successfully transfer meaningful data.</p>
       </div>
      </div>

    <div class="col-md-4">
      <div class="palette">
        <img src="/assets/images/logo.png"  width="55" alt="logo" />
        <h4>Crucible</h4>
        <p>The role of standardized testing to promote interoperability cannot be underestimated. When standards are implemented without standardized testing, variability results. As the health IT community capitalizes on FHIR, it is critical to make certain implementations are consistent and interoperable. Crucible has been developed as an open source testing tool to assure the interoperabliity of FHIR interfaces.</p>
      </div>
    </div>
  </div>
</div>
