{{#if registered}}
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" {{action 'closeRegisteredAlert'}}>
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Registration successful</strong>, you may now login.
  </div>
{{/if}}

<div class="container main">
  <div class="picture landing-page">
    <img src="/assets/images/logo_dark.png" alt="" />
  </div>
  <form>
    <div class="row form">
      <div class="col-md-10">
        <div>
          {{input action="submit" value=server1 class="form-control" placeholder="FHIR Server URL"}}
        </div>
      </div>
      <div class="col-md-2">

        <button class="btn" {{action "submit"}} {{bind-attr disabled=loadingServer}}>
          {{#if loadingServer}}
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
          {{else}}
            Begin
          {{/if}}
        </button>

        {{!-- <button  {{action "submit"}} class="btn">Begin</button> --}}
      </div>
    </div>
    <div class="row form">
      <div class="col-md-10">
        <div class="form-group">
          {{#if multiServer}}
            {{input value=server2 class="form-control" placeholder="Comparison FHIR Server URL"}}
          {{/if}}
        </div>
      </div>
      <div class="col-md-2">
        {{#if multiServer}}
          <a {{action 'removeUrl'}} class="toggle-info" ><i class="fa fa-minus fa-fw"></i> Remove Server</a>
        {{else}}
          <a {{action 'addUrl'}} class="toggle-info" ><i class="fa fa-plus fa-fw"></i> Add A Server</a>
        {{/if}}
      </div>
    </div>
  </form>

  <div class="row palette">
    {{#each serverSummaries as |serverSummary|}}
      <div class="col-md-4">
        {{starburst-chart data=serverSummary.compliance showHeader=false}}
        {{serverSummary.server.name}}
        {{serverSummary.server.percent}}
      </div>
    {{/each}}

  </div>

  <div class="row tri-row">
    <div class="col-md-4">
      <div  class="palette">
        <i class="fa fa-medkit fa-5x"></i>
        <h2>Healthcare Data</h2>
        <p>Electronic health data exchange will yield many benefits from reduced cost to improved patient outcomes. FHIR will help enable successful exchange of computable health data.</p>
      </div>
    </div>

      <div class="col-md-4">
        <div class="palette">
          <img src="/assets/images/fhir.png"  width="75" alt="logo" />
          <h2>FHIR</h2>
          <p>The emerging Fast Healthcare Interoperability Resources (FHIR) standard developed by HL7 (Health Level Seven) aims to define the transport and data standards for healthcare information.</p>
        </div>
      </div>

    <div class="col-md-4">
      <div class="palette">
        <img src="/assets/images/logo.png"  width="55" alt="logo" />
        <h2>Crucible</h2>
        <p>Crucible is a comprehensive, open source FHIR testing tool designed to help ensure accurate implementation of FHIR. Crucible provides an efficient and automated framework to succeed with FHIR.
        </p>
      </div>
    </div>
  </div>
</div>
